.sl-menu
{
    padding: 10px 0px;
    background-color: #EBEBEB;
    height:90vh;
}

.sl-menu md-list-item
{
    padding: 12px;
    width: 100%;
    display: block;
}

.sl-menu md-list-item.active
{
    border-left: 6px solid #65E798;
    background-color: #ccc;
}

.sl-menu md-list
{
    width: 100%;
}