<md-toolbar color="accent">
    <span>List</span>
    <span class="menu-spacer"></span>
    <button class="text-success" [routerLink]="['/student/add']" md-raised-button>Add</button>
    <button md-icon-button [mdMenuTriggerFor]="menu">
      <md-icon>more_vert</md-icon>
    </button>
    <md-menu #menu="mdMenu">
      <button md-menu-item>
        <md-icon>delete</md-icon>
        <span>Delete all</span>
      </button>
    </md-menu>
</md-toolbar>

<div class="row">
  <div class="col-md-12">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Father name</th>
          <th>Roll Num</th>
          <th>Address</th>
          <th>Class</th>
          <th>Gender</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let student of studentList; let i = index">
          <th scope="row">{{i+1}}</th>
          <td>{{student.name}}</td>
          <td>{{student.fatherName}}</td>
          <td>{{student.rollNum}}</td>
          <td>{{student.address}}</td>
          <td>{{student.class}}</td>
          <td>{{student.gender}}</td>
          <td>
            <button type="button" class="btn btn-warning" [routerLink]="['/student/edit',i]">Edit</button>
            <button type="button" class="btn btn-error">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>